{
  "semi": false,
  "singleQuote": false,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
